
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 9.5em;
  padding: 1.5em;
  border-radius: 50px;
  will-change: filter;
  transition: filter 300ms;
}
/* .logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
} */
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.balance{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img{
      width: 25px;
  height: 25px;
  }
  & h2{
    font-size: 48px;
    font-weight: 800;
    line-height: 64px;
    font-style: normal;
    font-variant-numeric: lining-nums tabular-nums;
    margin: 0;
  }
}
nav{
  /* padding: 10px 0 5px; */
  display: flex;
  align-items: center;
   position: fixed;
  bottom: 10px;
  left: 10px;
  width: 95%;
  height: 65px;
  border-radius: 33px;
  background-color: #dededebb;
  overflow: hidden;
}
.nav-bar{
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   width: 100%;
   overflow: hidden;
}
nav img{
  width: 30px;
  height: 30px;
}
.nav-tabs{
  width: 25%;
  height: 100%;
}
.nav-tabs {
  padding: 10px 0; 
  display: flex;
  align-items: center;
  width: 100%;
 flex-direction: column;
 user-select: none;
 height: 100%;
 font-size: 12px;
 color: white;
}
.nav-tabs:active, .nav-tabs:focus-visible ,.nav-tabs:focus-within, .nav-tabs.active{
  text-decoration: none;
  border: none;
  background-color: #dededece;
  color: blue;
}
.nav li{
  height: 80%;
}

.nav a span{
  position:  absolute;
  bottom: -18px;
  left: 0;
}
.nav-link{
  padding: 5px 0 0;
  margin: 0;
  width: 40%;
}

.community{
  height: 60px;
  width: 100%;
  border-radius: 50px;
  place-content: center;
  background-color: rgba(255, 255, 255, 0.507);
  a{
    color: white;
  }


}
.cliker-container{

  height: 300px;

}


/*
Booster page css
*/
.booster-wrapper{
  background-color: #e7e5e5be;
  padding: 10px;
  border-radius: 20px;
}
.upgrade-tile{
  background-color: #888;
  padding: 15px;
  border-radius: 20px;
  margin-bottom: 8px;
  width: 90%;
  margin: 10px auto ;
}
.upward-numbers{
  position: absolute;
  opacity: 0;
  animation: moveUp 2s forwards;
  transform: translate(-50%, -50%);
}

@keyframes moveUp {
  0% {
    transform: translate(-50%, -50%) translateY(0); /* Add translate(-50%, -50%) for centering */
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) translateY(-50px); /* Add translate(-50%, -50%) for centering */
    opacity: 0;
  }
}
/* @media (prefers-reduced-motion: no-preference) {
  a:not(.logo)  {
    animation: logo-spin infinite 20s linear;
  }
} */

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
