:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424 ;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none !important;
}
/* a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  /* display: flex; */
  place-items: center;
  min-width: 320px;
  /* min-height: 100vh; */
  overflow-x: hidden;
  background-color: inherit !important;
  color: #fff;
  
}
.card.balance{
  background-color: inherit ;
  border: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.Toastify__toast-container {
  top: 10px;
  left: 16px;
  position: fixed;
  right: 16px;
  width: auto;
  z-index: 999999;
}

.Toastify__toast {
  background-color: #2d2d2dcc;
  border-radius: 30px;
  max-height: 60px;
  min-height: 60px;
  padding: 0;
  transition: opacity .25s ease, transform .4s ease;
  width: 100%;
}
.Toastify__toast-body {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  height: 50px;
  line-height: 20px;
  padding: 16px;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  body{
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
